body {
    background-color: #e3e7eb;
    width: auto;
    height: 1000px;
}
h1 {
    margin: 50px auto;
    text-align: center;
}
.first-layer {
    display: flex; 
    width: 100%; 
    justify-content: center;
}
.second-layer {
    display: flex; 
    gap: 10px;
}
.third-layer {
    display: flex; 
    flex-direction: column; 
    width: 262px;
}
.blog-form {
    display: flex; flex-direction: column; width: 502px;
}
.label-style {
font-size: 20px; 
font-weight: bold;
margin-top: 20px;
margin-bottom: 0;
}
.input-style {
padding: 5px;
border-radius: 5px;
background-color: white;
}
.btn-submit {
padding: 18px;
background-color: #111727;
color: white;
border-radius: 45px;
width: 110px;
margin-top: 20px;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
margin-left: 420px;
}
.input-style {
padding: 15px;
border-radius: 5px;
background-color: white;
}
.checkbox-style {
display: flex; 
gap: 10px; 
margin-top: 15px;
margin-bottom: 15px;
}
.input-file {
box-shadow: 0 0 1px 1px; 
padding: 10px; 
background-color: white; 
width: 510px;
}
.label-font {
font-size: 20px;
color: #514a4a;
}