body {
    background-color: #e3e7eb;
}
.img-style {
    width: 30px; 
    height: 30px;
    align-items: center;
}
.based-color {
    background-color: #fefefe;
    margin: 100px 50px;
    padding-bottom: 50px;
}
.section-layout {
    display: flex; 
    justify-content: space-between;
}
.content-style {
    margin: 70px 35px 70px 70px; 
    width: auto; 
    height: auto; 
    text-align: justify;
}
.link-cd {
    display: flex; 
    align-items: center; 
    margin-top: 25px;
    gap: 20px;
}
.logo-icon {
    display: flex; 
    gap: 15px; 
    margin-top: 40px;
}
.contact-btn-home {
    text-decoration: none; 
    margin: 15px 0 10px 0; 
    padding: 5px; 
    background-color: #111727; 
    color: white; 
    border-radius: 45px; 
    width: 100px;
}
.download-btn-home {
    text-decoration: none; 
    color: black;
}
.logo-download {
    margin: 0 12px; 
    width: 30px; 
    height: 30px;
}
.image-layout {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.border-image {
    box-shadow: 0 0 1px 0 black; 
    border-radius: 5px;
    margin: 100px 70px 0 35px;
    padding-bottom: 10px;
    width: 360px;
    height: fit-content;
    background-color: white;
    text-align: center;
}
.image-name-tag {
    width: 360px;
    height: 380px;
}
.name-tag {
    margin: 0 0 0 0;
}