.navbar {
    background-color: #f4f3f3;
    padding: 5px;
}
.navbar-link {
    text-decoration: none;
}
.active {
    color: black;
}
.navbar-logo {
    width: 50px;
    height: auto;
}
.navbar-ul {
    display: flex; 
    list-style: none; 
    align-items: center;
    justify-content: space-between;
}
.navbar-contact-btn {
    padding: 18px;
    background-color: #111727;
    color: white;
    border-radius: 10px;
    width: 100px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
}
.navbar-li {
    display: flex;
    gap: 30px;
    align-items: center;
}