.navbar {
    background-color: #f4f3f3;
    padding: 5px;
}
.navbar-link {
    text-decoration: none;
    color: black;
}
.active {
    color: #111727;
}
.menu-active {
    background-color: #111727;
}
.navbar-logo {
    width: 50px;
    height: auto;
}
.navbar-ul {
    display: flex; 
    list-style: none; 
    align-items: center;
    justify-content: space-between;
}
.navbar-contact-btn {
    padding: 18px;
    background-color: #111727;
    color: white;
    border-radius: 10px;
    width: 100px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
}
.navbar-li {
    display: flex;
    gap: 30px;
    align-items: center;
    color: black;
    font-weight: bold;
}
.menu-icon-style {
    display: none;
}
.navbar-link-menu {
    display: none;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 3px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
}
.hidden {
    display: none;
}
.display-menu {
    display: flex; 
    flex-direction: column; 
    border-radius: 10px;
}
@media only screen and (max-width: 640px) {
    .navbar-link {
        display: none;
    }
    .active {
        display: none;
    }
    .navbar-logo {
        width: 50px;
        height: auto;
    }
    .navbar-contact-btn {
        display: none;
    }
    .menu-icon-style {
        display: inline-flex;
        width: 44px;
        height: 44px;
        padding: 5px;
        margin-right: 12px;
    }
    .navbar-logo {
        width: 70px;
        height: auto;
    }
    .navbar-link-menu {
        display: block;
    }
}